<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/list">MySecrets</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" routerLink="/list">List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLinkActive="active" routerLink="/add">AddNewSecret</a>
        </li>
      </ul>

      <div class="me-4">
        <ul class="nav navbar-nav">
          <div *ngIf="loggedin()" class="dropdown me-3" dropdown>
            <a href="#" class="dropdown-toggle text-light text-decoration-none" dropdownToggle (click)="false">
              Welcome {{loggedinUser}}
            </a>
            <div class="dropdown-menu" *dropdownMenu>
              <a (click)='onLogout()' class="dropdown-item">
                <i class="fas fa-sign-out-alt"></i> Logout
              </a>
            </div>
          </div>
        </ul>
      </div>

    </div>
  </div>
</nav>
