.ng-invalid.ng-touched{
  border-color: red;
}

.error-block{
  color: red;
}

.link{
  color: black;
}
a:hover{
  color: gray;
}
.btn-custom{
  color: white;
  background-color: black;
  width: 100%;
}
.dropdown-item{
  cursor: pointer;
}


