<div class="container col-4">
    <p>MySecrets</p><br><br>
    <h1>LOGIN</h1><hr>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" (click)="removeError()">
      <div class="form-group mt-5">
          <label><h5>Username:</h5></label>
          <input class="form-control" formControlName="username">
          <span *ngIf="!username.valid && (username.touched || userSubmitted)" class="error-block">
            Please provide username
          </span>
      </div>

      <div class="form-group mt-3">
          <label><h5>Password:</h5></label>
          <input type="password" class="form-control" formControlName="password">
          <span *ngIf="!password.valid && (password.touched || userSubmitted)" class="error-block">
            <span *ngIf="password.errors?.['required']">Please provide password</span>
            <span *ngIf="password.errors?.['minlength']">Password should not be lesser than 8 characters</span>
          </span>
      </div>

      <div class="form-group mt-5 mb-2">
          <button type="submit" class="btn btn-custom">Login</button>
      </div>
      <div class="error-block mb-5"  *ngIf="this.error==null">
        Username or password is incorrect. Please try again.
      </div>
    </form>

      You are not registered? Go to <a routerLink="/user/register"  class="link">Register</a>

</div>

